body {background-color: purple;}
h1.grump {color: green;}
h6{color: red;}

a:link.homelink {
color: red;
background-color: white;
text-decoration: none;
font-size: 200%

}

a:hover.homelink {
background-color: red;
text-decoration: none;
}

img {
display: block;
margin-left: auto;
margin-right: auto;

}

#why {
 text-align: center;
 color: pink;
}

a:link.why2 {
border: 3px solid green;
background-color: green;
padding: 17%;
}

a:hover.why2 {
border: 3px solid blue;
background-color: blue;
color: white;
padding: 16%;
}

a.why2 {
font-size:300%;
text-decoration: none;
}

a.social {
color: white;
background-color: gray;
width: 20%;
padding: 1%;
text-decoration: none;
display: block;
margin-right:auto;
margin-left:auto;
}

a:hover.social {
color: gray;
background-color: white;
width: 20%;
padding: 1%;
text-decoration: none;
display: block;
margin-right:auto;
margin-left:auto;
}

h1.spongebob {
color: yellow;
text-align: center;
font-size: 400%;
}

.rightpic {
float: right;
}

.leftpic {
float: left;
}

a:link.homebutton {
text-decoration: none;
position: fixed;
color: white;
background-color: orange;
width: 5%;
text-align: center;
margin: 10px;
padding: 10px;
bottom: 0%;
right: 0%;
}

a:hover.homebutton {
text-decoration: none;
position: fixed;
color: orange;
background-color: white;
}